.iconHover {
    color: rgb(37, 73, 251);
}

.iconHover:hover {
    color: rgb(59, 218, 232)
}

.buttonToLink {
    cursor: pointer;
    border-bottom: 4px solid black;
}

.buttonToLink:hover {

    background-color: aquamarine;
    cursor: pointer;
}